<form class="add-bills-component" [formGroup]="billsForm">
  <div class="bills-container" formArrayName="bills" *ngFor="let bill of billsForm?.get('bills')?.controls; let i = index;">
    <div class="bill-form" [formGroupName]="i">
      <mat-form-field>
        <mat-label>Select who paid</mat-label>
        <mat-select formControlName="owner">
          <mat-option *ngFor="let friend of friends" [value]="friend.uuid">
            {{ friend.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="total" placeholder="Total" (change)="transform($event, i)">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="name">
      </mat-form-field>
      <button mat-button color="warn" (click)="deleteBill(i)">Remove</button>
    </div>
  </div>
  <button mat-button color="primary" (click)="addBill()">Add Bill</button>
</form>

