@import 'src/style-guide';

.header-component {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $celestial-blue;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 84px;
    }
  }

  .account-action-button {
    display: block;
  }

  .title {
    color: #ffffff;
  }
}
